
@font-face {
    font-family: 'Inter-Regular';
    /*a name to be used later*/
    src: url('./Inter-Regular.ttf');
    /*URL to font*/
}

@font-face {
    font-family: 'Geograph-Medium';
    /*a name to be used later*/
    src: url('./geograph-web-medium.woff');
    /*URL to font*/
}

.video_wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */
    margin-bottom: 20px;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
section {
    margin-bottom: 56px;
}

body {
    font-family: 'Inter-Regular', georgia, serif;
}

h1 {
    font-family: 'Geograph-Medium', georgia, serif;
}

h4, h5, h6 {
    font-weight: 700;
    margin-top: 1rem;
    text-transform: none;
}

figcaption {
    margin-top: -12px;
    margin-bottom: 32px;
}
a  {
    text-decoration: none;
    color: #90caf9;
}
p {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 24px;
    line-height: 150%;
    color: var(--color-foreground-secondary);
}
blockquote {
    background:var(--color-background-secondary);
    border-left:4px solid var(--color-background-border);
    font-style:inherit;
    margin-left:0;
    margin-right:0;
    padding: 0.2em 0 0.1em 1em;
}
   

ul {
    margin-top: 24px;
    margin-bottom: 24px;
}
/*Python doc class*/
dl {
    margin-top: 32px;
}
dt {
    margin-top: 16px;
}
dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) dd {
    margin-left: 0;
}
dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) .field-list dt {
    font-size: 100%;
    text-transform:none;
    font-weight: bold;
    color: white;
    margin-top: 48px;
}
dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) .field-list dd > ul {
    margin-left: 0;
}
dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) dd>:first-child {
    margin-top:8px;
}   

p.rubric {
    font-size: 100%;
    text-transform:none;
    font-weight: bold;
    color: white;
    margin-top: 48px;
}
.py.method {
    border-bottom: 1px solid #484A51;
    padding-bottom: 16px;
    margin-top: 24px !important;
}
.py.method::before {
    content: "Method";
    color: var(--color-sidebar-caption-text);
    font-size: var(--sidebar-caption-font-size);
    font-weight: 700;
    text-transform: uppercase;
}
.py.method:last-child {
    border:none;
    padding-bottom: 16px;
    margin-top: 24px !important;
}
.py.class {
    border-bottom: 1px solid #484A51;
    margin-bottom: 32px;
}
.py.class::before {
    content: "Class";
    color: var(--color-sidebar-caption-text);
    font-size: var(--sidebar-caption-font-size);
    font-weight: 700;
    text-transform: uppercase;
}
.py.function {
    border-bottom: 1px solid #484A51;
    padding-bottom: 16px;
}
.py.function:last-child {
    border:none;
    padding-bottom: 16px;
}
.py.function::before {
    content: "Function";
    color: var(--color-sidebar-caption-text);
    font-size: var(--sidebar-caption-font-size);
    font-weight: 700;
    text-transform: uppercase;
}

.toctree-wrapper {
    line-height:200%;  
}

.footer__copyright {
    font-size: 14px;
}

.text--center {
    text-align: left;
}

.element.style {
    background-color: #1b1e24;;
    text-align: left;
}

article {
    padding: 24px;
}
.sidebar-tree {
    margin-left: 12px;
    margin-right: 12px;
}
.sidebar-drawer {
    min-width: 15em !important;
    width: 0em !important;
}
.sidebar-scroll {
    padding-bottom: 24px;
}
.sidebar-tree .reference {
    border-radius: 6px;
}
.sidebar-search {
    border-radius: 6px;
    border: 1px solid var(--color-sidebar-search-border);
}
.sidebar-search-container {
    padding-left: 12px;
    padding-right: 12px;
}
.related-information {
    margin-top: 24px;
}
.reference-internal {
    color: #90caf9;
}

.content {
    width: 56em !important;
}
.content-image-small {
    max-width:240px; 
    display:block;
    margin-top: 48px;
    margin-bottom: 8px;
}
.content-image-middle {
    max-width:560px; 
    display:block;
    margin-top: 48px;
    margin-bottom: 8px;
}
.content-image-large {
    display:block;
    margin-top: 48px;
    margin-bottom: 8px;
}  
table.docutils td, table.docutils th {
    border: none;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
}  
.grid-item {
    color: var(--color-sidebar-caption-text);
    font-size: var(--sidebar-caption-font-size);
    font-weight: 700;
    text-transform: uppercase;
    max-height: 240px;
    min-height: 32px;
    vertical-align: bottom;
}
.grid-item img:hover {
    filter: brightness(120%);
}

.column-span-2 {
    grid-column: span 2;
}
.empty {
    display: block;
}
.sidebar-tree li {
    margin-top: 1px;
    margin-right: 0px;
     margin-bottom: 1px;
    margin-left: 0px;
    position: relative;
}
@media (max-width: 800px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
    .empty {
        display: none;
    }
  }